* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.wrap {
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9c9c9c;
    height: 5rem;
}
.row-header {
    font-weight: bold;
    border-bottom: 2px solid #9C9C9C;
    height: 4rem;
}
.cell {
    padding: 0 10px;
}
.cell:nth-child(1) {
    flex: 4;
}
.cell:nth-child(2) {
    flex: 1;
    text-align: right;
}
.cell:nth-child(3) {
    flex: 2;
}
.cell:nth-child(4) {
    flex: 2;
    text-align: right;
}
.count {
    display: flex;
    justify-content: flex-start;
}
/* Buttons */
.btn {
    background: #2778fd;
    border: none;
    outline: none;
    width: 30px;
    height: 35px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.btn:hover {
    background: #4a8dfa;
}
.btn:active {
    transform: translateY(1px);
}
.btn-minus {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.btn-plus {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.amount-input {
    width: 20%;
    padding: 0 7px;
    border: none;
    outline: none;
    background: #e7e7e7;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.total-price {
    text-align: right;
    margin-top: 20px;
    font-weight: bold;
}