@import 'mixin.scss';

body {
    font-family: $mainFont;
    font-size: 14px;
    color: $mainColor;
    box-sizing: border-box;
}
h1 {
    font-family: $headerFont;
    font-size: 2.5em;
    font-weight: 500;
}
.h3 {
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 30px;
}
.modal-on {
    overflow: hidden;
}
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(#000, .8);
    z-index: -1;
    opacity: 0;
    transition: all .8s ease;
}
.on {    
    z-index: 2;
    opacity: .8;
}
.header {
    height: 100vh;
    background: url(./img/bg.jpeg) center no-repeat;
    background-position: cover;
}
.header-top {
    height: 4em;
    width: 100%;
    background: $transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #ececec;
    position: fixed;
    z-index: 3;
    &__logo {
        display: inline-block;
        img {
            height: 3em;
        }
    }
    &__btn {
        cursor: pointer;
        background: none;
        border: none;
        outline: 0;
        margin-right: 40px;
        span {
            display: block;
            width: 40px;
            height: 1px;
            background: #000;
            margin-top: 7px;
        }
        &:hover span {
            background: lighten(#000, 60%);
        }
    }
    &__item {       
        display: block;
        line-height: 3em;
        letter-spacing: .3em;
        color: #a5a5a5;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            color: #fff;
        }       
    }
    & .active {
        color: #fff;
    }
    &__nav {
        position: fixed;
        transform: translateX(320px);
        top: 0;
        right: 0;
        width: 300px;
        height: 100vh;
        background: #2f2f2f;
        transition: transform .8s ease;
        ul {
            list-style: none;
            margin-top: 80px;
            transform: translateY(500%);
            transition: transform .8s ease;
        }       
        .close-btn {
            display: inline;
            color: #a5a5a5;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }       
    }
    &__title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        padding: 65px;
        background: $transparent;
        outline: 4px double $transparent;
        outline-offset: 8px;
    }
    &__text {
        width: 220px;
        height: 1.2em;
        font-size: 1.2em;
        letter-spacing: 1.5px;
        opacity: .6;
    }
}
.opened {
    transform: translateX(0);
    ul {
        transform: translateY(0);
    }
}

/* About section */

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__photo {
        min-height: 700px;
        background: url(./img/about.jpg) center no-repeat;
        background-size: cover;
        flex: 0 0 50%;
    }
    &__info {
        flex: 0 0 50%;
        min-height: 700px;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        &-wrap {
            display: flex;
            transition: transform .8s ease;
        }
        &-item {
            flex: 0 0 100%;
            max-width: 100%;
            display: flex;
            justify-content: center;
            &_wrap {
               width: 50%;
            }
        }
        &-text {
            font-size: 13px;
            line-height: 2.5em;
            letter-spacing: .5px;
            padding-bottom: 20px;
        }
        &-btn {
            position: absolute;
            bottom: 20px;
            left: 50%;
            &-item {
                display: inline-block;
                width: 12px;
                height: 12px;
                background: lighten($mainColor, 30%);
                border-radius: 50%;
                margin: 0 5px;
                &:hover {
                    background: $mainColor;
                }
                &.active {
                    background: $mainColor;
                }
            }
        }
    }
}
.signature {
    margin-top: 20px;
}

/* Work section */
.section {
    @include section;    

    &-title {
        @include section-title;
        &__header {
            @include title-header;
        }
    }

    &:hover .section-title__header:before {
        width: 100px;
        background: darken(#dedede, 10%);
    }

    &-content {
        @include section-content;
        &__item {
            width: 50%;
            overflow: hidden;
            position: relative;
            &:before {
                content: attr(data-text);
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                font-weight: 700;
                text-transform: uppercase;
                color: $mainColor;
                opacity: 0;
                transform: translateX(-50%) translateY(-50%);
                transition: opacity .8s ease;
            }
            &:after {
                content: "";
                display: block;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                background: $transparent;
                border: 20px solid rgba(210,230,220, .7);
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: opacity .8s ease;
            }
            &:hover:after {
                opacity: 1;
            }
            &:hover:before {
                opacity: 1;
                z-index: 2;
            }
            &:hover .section-content__img {
                filter: grayscale(0);
                transform: scale(1.2);
            }
        }
    }        
    &-content__img {
        width: 100%;
        display: block;
        filter: grayscale(100%);
        transition: all .8s ease;
        opacity: .6;
    }
    &-title__text {
        margin-top: 60px;
        line-height: 2em;
    }        
}
.section-wrap {
    @include section-wrap;
}

/* Modal */
.modal {    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, .8);;
    &-wrap {
        position: relative;
        width: 100%;
        height: 100%;
    }
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);        
    }
    &__img {
        width: 100%;
        height: 100%;
    }
    &__close-button {
        position: absolute;
        top: -40px;
        right: 0;
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        color: $transparent;
        &:hover {
            color: #fff;
        }
    }
    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);        
        cursor: pointer;
        padding: 30px;
        span {
            display: inline-block;
            border: 15px solid transparent;
        }
    }
    .left-button {
        left: 20px;
        span {
            border-right: 15px solid $transparent;           
        }
        &:hover span {
            border-right: 15px solid #fff;
        }
    }
    .right-button {        
        right: 20px;
        span {
            border-left: 15px solid $transparent;
        }
        &:hover span {
            border-left: 15px solid #fff;
        }
    }
    &__bottom {
        display: inline-block;
        position: absolute;
        bottom: -20px;
        right: 0;
        color: $transparent;
        font-size: .9em;
    }
}

.no-bg {
    background: #fff;
}

/* Services section */
.article-icon {
    color: #a5a5a5;
}
.section-content__article {
    flex: 0 0 33%;
    max-width: 33%;
    height: 200px;
    margin-top: 1.5em;
}
.section-content__article {
    font-weight: 300;
    line-height: 1.8em;
}

/* Employement section */
.employ {
    justify-content: space-between;
    &__card {
        flex: 0 0 50%;
        max-width: calc(50% - 20px);
        box-sizing: border-box;
        padding: 30px 35px 45px 35px;
        margin-bottom: 40px;
        background: #fff;
        border: 1px solid #ececec;
        transition: all .4s ease;
        transition-delay: .4s;
        position: relative;
        &:hover {
            transform: translateX(-10px) translateY(-10px);
            box-shadow: 20px 20px 0px 0px #818181;
            & .border_top, .border_bottom {
                width: 100%;
            }
            & .border_right, .border_left {
                height: 100%;
            }
        }
    }
    &__header {
        font-size: 2em;
        margin-bottom: 5px;
    }
    &__h3 {
        text-transform: uppercase;
        color: #ccc;
        font-size: 1em;
        font-weight: 400;
    }
    &__subtitle {
        display: inline-block;
        color: #ccc;
        font-size: .9em;
        border: 1px solid #ececec;
        border-radius: 5px;
        padding: 10px; 
        margin: 5px 0 20px 0;
    }
    &__text {
        line-height: 2.2em;
        font-size: .9em;
        margin-top: 10px;
        padding-top: 30px;
        border-top: 1px solid #ececec;
    }
}
.border {
    position: absolute;
    background: #818181;
    display: block;
    transition: .2s;
    &_top {
        left: 0;
        top: -1px;
        width: 0%;
        height: 3px;
    }
    &_right {
        transition-delay: .2s;
        right: -1px;
        top: -1px;
        width: 3px;
        height: 0;
    }
    &_bottom {
        bottom: -1px;
        right: -1px;
        width: 0;
        height: 3px;
    }
    &_left {
        transition-delay: .2s;
        bottom: -1px;
        left: -1px;
        width: 3px;
        height: 0;
    }
}



