@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 14px;
  background: #1b191a;
  color: #fcfcfc;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.btn {
  display: inline-block;
  padding: 1em 1.4em;
  margin-top: 40px;
  border: 1px solid #fcfcfc;
  background: transparent;
  text-transform: uppercase;
  color: #fcfcfc;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn:hover {
  -webkit-box-shadow: 0 0 1em rgba(252, 252, 252, 0.6);
          box-shadow: 0 0 1em rgba(252, 252, 252, 0.6);
}

.option-btn {
  font-size: .9em;
  margin-left: 35%;
}

/* Header section */
.header {
  height: 100vh;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 10px rgba(27, 25, 26, 0.8);
          box-shadow: 0 10px 10px rgba(27, 25, 26, 0.8);
  /* Скрытая боковая навигация */
  /* Slider */
}

.header .sticky {
  position: fixed;
  background: rgba(27, 25, 26, 0.7);
  padding: .8em 10em;
}

.header-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.4em 10em;
  z-index: 100;
  /* Основная навигация */
}

.header-top .backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(27, 25, 26, 0.6);
  z-index: 101;
}

.header-top .on {
  display: block;
}

.header-top__logo a {
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: .2em;
  text-shadow: 0 0 0.6em #fcfcfc;
  text-decoration: none;
  color: #fcfcfc;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-transform: uppercase;
}

.header-top__logo a:hover {
  text-shadow: 0 0 1em #fcfcfc;
}

.header-top__logo a span {
  -webkit-transform: scale(2);
          transform: scale(2);
  display: inline-block;
}

.header-top__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__nav .burger {
  color: #fcfcfc;
  text-decoration: none;
  padding-left: 1em;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.header-top__nav .burger:hover {
  text-shadow: 0 0 1em #fcfcfc;
}

.header-top .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header-top .nav__item {
  color: #fcfcfc;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1em;
  position: relative;
}

.header-top .nav__item::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fcfcfc;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header-top .nav__item:hover:after {
  width: 80%;
}

.header-top .nav .active::after {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fcfcfc;
}

.header-side__nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 460px;
  height: 100vh;
  background: rgba(27, 25, 26, 0.8) url("../img/side-nav-bg.jpeg") 0 0 repeat;
  background-size: cover;
  -webkit-box-shadow: -10px 0 10px rgba(27, 25, 26, 0.8);
          box-shadow: -10px 0 10px rgba(27, 25, 26, 0.8);
  z-index: 999;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  /* Настройки слайдера */
}

.header-side__nav--close {
  display: block;
  border: none;
  outline: none;
  background: transparent;
  color: #fcfcfc;
  font-size: 2em;
  margin: 10px 15px 0 auto;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.header-side__nav--close:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  text-shadow: 0 0 5px rgba(252, 252, 252, 0.8);
}

.header-side__nav .side-nav-box {
  display: none;
}

.header-side__nav .side-nav {
  list-style: none;
  margin-left: 2em;
}

.header-side__nav .side-nav__item {
  display: block;
  max-width: 60%;
  color: #fcfcfc;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 0;
  position: relative;
}

.header-side__nav .side-nav__item:hover {
  color: #b4ad8e;
}

.header-side__nav .side-nav .active {
  color: #b4ad8e;
}

.header-side__nav .side-options__title {
  display: inline-block;
  width: 80%;
  margin: 2em 0 0 2em;
  padding: 10px;
  font-size: 1.2em;
  position: relative;
  border-bottom: 1px solid rgba(180, 173, 142, 0.6);
}

.header-side__nav .side-options {
  margin: 4em 2.5em 0 2.5em;
  padding-right: 1.5em;
}

.header-side__nav .side-options__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1em;
}

.header-side__nav .side-options__item-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header-side__nav .side-options__item .select {
  width: 100%;
  min-width: 20px;
  max-width: 50px;
  background: #fcfcfc;
  border-radius: 0.25em;
  font-size: inherit;
  cursor: pointer;
  line-height: 1;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "select";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-side__nav .side-options__item .select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #1b191a;
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
          clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: select;
  margin-right: 0.5em;
}

.header-side__nav .side-options__item .select select {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  padding: 0.5em 0.5em;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: select;
}

.header-side__nav .side-options__item .select select:disabled {
  cursor: not-allowed;
}

.header-side__nav .side-options__item .checkbox {
  visibility: hidden;
}

.header-side__nav .side-options__item .checkbox-label {
  position: relative;
  display: block;
  width: 50px;
  height: 26px;
  border-radius: 20px;
  cursor: pointer;
  background: #969696;
}

.header-side__nav .side-options__item .checkbox-label:after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #fcfcfc;
  position: absolute;
  top: 2px;
  left: 2px;
  -webkit-transition: left .2s ease;
  transition: left .2s ease;
}

.header-side__nav .side-options__item .checkbox:checked + .checkbox-label:after {
  left: 26px;
}

.header-side__nav .side-options__item .checkbox:checked + .checkbox-label {
  background: #b4ad8e;
}

.header-side__nav .side-options__item .checkbox:disabled + .checkbox-label {
  opacity: .6;
  cursor: not-allowed;
}

.header-slider {
  height: 100%;
  position: relative;
}

.header-slider__placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: .1em;
  color: rgba(252, 252, 252, 0.4);
}

.header-slider__item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity .6s ease;
  transition: opacity .6s ease;
}

.header-slider__item--bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-slider__item--text {
  margin-top: 4em;
  height: 100%;
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-slider__item--text h1 {
  margin: 0;
  font-size: 5em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: .4em;
  position: relative;
  text-align: center;
}

.header-slider__item--text h1:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 1px;
  background: #b4ad8e;
}

.header-slider__item--text p {
  max-width: 40%;
  margin-top: 80px;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.8em;
}

.header-slider__arrow--left, .header-slider__arrow--right {
  position: absolute;
  top: 50%;
  width: 4em;
  height: 4em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header-slider__arrow--left:hover, .header-slider__arrow--right:hover {
  background: rgba(0, 0, 0, 0.8);
}

.header-slider__arrow--left {
  left: 20px;
}

.header-slider__arrow--right {
  right: 20px;
}

.header-slider__buttons {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99;
}

.header-slider__buttons--dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: rgba(180, 173, 142, 0.6);
  margin: 0 8px;
}

.header-slider__buttons--dot:hover {
  background: #b4ad8e;
}

.header-slider__buttons .active {
  background: #b4ad8e;
}

.header-slider__progressbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 999;
  background: #b4ad8e;
  opacity: .6;
}

/* Section main */
.main {
  height: 100vh;
  background: url(../img/bg.jpeg) center center no-repeat;
}

/* Slider scale bg image animation */
@-webkit-keyframes animateScale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes animateScale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

/* Progress bar animation */
@-webkit-keyframes animate-progress-bar {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes animate-progress-bar {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=slider2.css.map */